<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<phpunit bootstrap="phpunit.php">
    <testsuites>
        <testsuite name="hashValidator unit test">
            <directory>loader</directory>
            <directory>rule</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory>../src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="log" lowUpperBound="35" highLowerBound="70"/>
        <!--<log type="coverage-clover" target="/tmp/coverage.xml"/>-->
        <!--<log type="coverage-php" target="/tmp/coverage.serialized"/>-->
        <!--<log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>-->
        <!--<log type="junit" target="/tmp/logfile.xml"/>-->
        <!--<log type="testdox-html" target="/tmp/testdox.html"/>-->
        <!--<log type="testdox-text" target="/tmp/testdox.txt"/>-->
    </logging>
</phpunit>
